@model IEnumerable<string>

<div id="categories" class="btn-group btn-group-justified shop-nav">
  @Html.ActionLink("Все категории",
    (string)ViewBag.actionName,
    (string)ViewBag.controllerName,
    null,
    null,
    "categories",
    null,
    new
    {
      @class = "btn btn-default btn-md" + (ViewBag.selectedCategory == null ? " current-category" : "")
    })
  @foreach (var link in Model)
  {
    @Html.RouteLink(link, 
  null,
  null,
  null,
  "categories",
  new
  {
    controller = ViewBag.controllerName,
    action = ViewBag.actionName,
    category = link
  },
  new
  {
    @class = "btn btn-default btn-md" + (link == ViewBag.selectedCategory ? " current-category" : "")
  })
  }
</div>
