@font-face {
    font-family: Pompadur; /* Имя шрифта */
    src: url(fonts/pompadur.ttf); /* Путь к файлу со шрифтом */
   }
body{
    font-family: 'Open Sans', sans-serif;
}
 .product-btn{ 
 	margin-top: 10px; 
 }
/* .sale {
	height: 35px;
	font-size: 25px;
	margin-bottom: 0;
}*/
h3 {
	 margin-top: 1em;
	/* margin-bottom: 0em;*/
}

.navbar-default .navbar-nav>li>a  {
 	color: #000;
 	/*text-decoration: none;*/
 }
.navbar-default .navbar-nav>li>a:hover  {
 	color: #7e7e7e;
 	/*text-decoration: none;*/
 }
.navbar-default {
	border: none; 
	background: none;
}

.thumb .img-thumbnail{
  transition: all .5s ease-in-out;
}
.warp{
  padding:0;
  overflow: hidden;
}
.thumb:hover .img-thumbnail{
  transform-origin: center;
  transform:scale(1.4);
}



.basket-amount{
    position: absolute;
    color: white;
    font-weight: bold;
    background-color: #ff002b;
    top: 50px;
    left: 25px;
    width: 25px;
    text-align: center;
    border-radius: 50%;
}

.fruit-header{
    margin-top: 20px;
    margin-bottom: 35px;
}

.fruit-header .navbar-brand {
  height: 130px;
  font-size: 1.7em;
}

.fruit-header .nav >li >a {
  padding-top: 55px;
  padding-bottom: 55px;
}

.fruit-header .nav>li>a.navbar-icon-link{
    display:inline-block;
    padding-top:37px;
    position:relative;
    font-size: 0.8em;
}
.fruit-header .navbar-toggle {
  padding: 10px;
  margin: 50px 15px 50px 0;
}

@media (min-width: 1200px){
 .custom-navbar {
    font-size: 1.7em;
 }
 .fruit-header .nav>li>a.navbar-icon-link{
    padding-top:37px;
 }
 .basket-amount{
    left: 25px;
    width: 25px;
  }
}

@media (max-width: 1200px){
 .custom-navbar {
    font-size: 1.4em;
 }
 .fruit-header .nav>li>a.navbar-icon-link{
   padding-top:42px;
 }
 .basket-amount{
   left: 23px;
   width: 21px;
 }
}

.shop-item-img{
    position:relative;
}

.shop-item-img .shop-tools{
    position:absolute;
    bottom: 0px;
    right:0px;
    height: 30%;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    color: #000;
    padding-right: 10px;
    display:none;
}

.shop-item-img:hover .shop-tools{
    display:block;
}

.shop-tools button{
    border-radius: 0;
    border: none;
    background-color: #000;
    color: #fff;
}

.shop-tools .btn-to-basket{
   background-color: #31b82c;
}

.shop-tools .btn-to-basket:hover{
   background-color: #e6e6e6;
}

.shop-tools p{
    font-size: 1.3em;
}




