@font-face {
    font-family: Pompadur; /* Имя шрифта */
    src: url(fonts/pompadur.ttf); /* Путь к файлу со шрифтом */
   }
body{
    font-family: 'Open Sans', sans-serif;
}
 .product-btn{ 
 	margin-top: 10px; 
 }
/* .sale {
	height: 35px;
	font-size: 25px;
	margin-bottom: 0;
}*/
h3 {
	 margin-top: 1em;
	/* margin-bottom: 0em;*/
}

.navbar-default .navbar-nav>li>a  {
 	color: black;
 	/*text-decoration: none;*/
 }
.navbar-default {
	border: none; 
	background: none;
}

.thumb .img-thumbnail{
  transition: all .5s ease-in-out;
}
.warp{
  padding:0;
  overflow: hidden;
}
.thumb:hover .img-thumbnail{
  transform-origin: center;
  transform:scale(1.4);
}

.navbar-nav>li>a.navbar-icon-link{
    display:inline-block;
    padding-top:10px;
    position:relative;
}

.basket-amount{
    position: absolute;
    color: white;
    font-weight: bold;
    background-color: #ff002b;
    top: 15px;
    left: 21px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
}


