<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <!--<link href="~/Content/ErrorStyles.css" rel="stylesheet" />-->
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
