/*
img{
/*	min-height: 100px;
	max-height: 500px;
	height: 300px;
}

.sale p {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 20pt; /* Размер шрифта в пунктах 
    text-align: center;
}
.border-test{
	border: 1px solid black;
}
.season-purpose {
	height: 250px;
	text-align: center;
}
.season-purpose p {
	padding-top: 10px;
}
.season-picture {
	height: 150px;
	padding-left: 10px;
}*/
 .product-btn{ 
 	margin-top: 10px; 
 }
/* .sale {
	height: 35px;
	font-size: 25px;
	margin-bottom: 0;
}*/
h3 {
	 margin-top: 1em;
	/* margin-bottom: 0em;*/
}
.navbar-default .navbar-nav>li>a  {
 	color: black;
 	/*text-decoration: none;*/
 }
.navbar-default {
	border: none; 
	background: none;
}


/*.test1 {
  сontent: 3;
    position: absolute;
    height: 100%;
    width: 20px;
    top: 0px;
    background-image: url("../img/circle17x17.png");
    background-size: 20px 20px;
    background-position: 23px 19px;
    background-position: 24px 15px;
    background-repeat: no-repeat;
}
*/

.circle {
	width: 15px;
  	height: 15px;
  	border-radius: 40%;
  	border-color: #C41E3A;
  	font-size: 10px;
  	color: #fff;
  	line-height: 15px;
  	text-align: center;
  	background: #C41E3A;

}
#wrap {
  width: 80%;
  background: #fff;
  position: relative;
}
.innersm {
  position: relative;
  z-index: 2;
  left: 9px; 
  top: -23px;
}

.inner {
  position: relative;
  z-index: 2;
  left: 78px; 
  top: -23px;
}

#wrap:after {
  content: "\f291"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 400px;
  color: lightblue;
  z-index: 1;
  
}