
@{
    ViewBag.Title = "Оригинальные букеты | Fruit Is Good";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Как заказать букет?</h2>
    <p>Как-как? Хуём через верстак!</p>
    <hr />
    <h2>Условия доставки</h2>
    <p>Сам приедешеь и заберешь свой букет, хуйло!</p>
    <hr />
    <h2>Оплата</h2>
    <p>Мы тебя, сука, на счетчик поставим. До конца жизни не расплатишься!</p>
    <hr />
</div>

